BETTER_AUTH_SECRET="3b7388a3a2a86053ffe187a29197285873bea048d132924b36f5c5c50aaf67bc"
NEXT_PUBLIC_AUTH_DUENDE_IDENTITY_SERVER6_ID="id-server"
AUTH_DUENDE_IDENTITY_SERVER6_CLIENT_ID="nextApp"
AUTH_DUENDE_IDENTITY_SERVER6_SECRET="secretApp"
AUTH_DUENDE_IDENTITY_SERVER6_ISSUER="http://localhost:5000"
AUTH_DUENDE_IDENTITY_SERVER6_SCOPE="openid profile auctionApp"