# =============================================================================
# Environment variables used by config.yml
# =============================================================================

# MassTransit
AUCTION_MASS_PREFIX="auction"
SEARCH_MASS_PREFIX="search"
DOCKER_GRPC_PORT="7777"
DOCKER_WEB_API_PORT="80"

# Common
ASPNETCORE_ENVIRONMENT="Production"
DOCKER_ASPNETCORE_URLS="http://+:80"
DOCKER_CLAIM_USER_NAME="username"
ASPNETCORE_DOCKER_ENVIRONMENT="Docker"

# RabbitMQ
RABBITMQ_HOST_NAME="rabbit-clusterip"
RABBITMQ_USER="rabbit"
RABBITMQ_PASSWORD="rabbitpw"

# Database
DOCKER_AUCTION_DATABASE="Server=postgres-clusterip:5432;User Id=postgres;Password=postgrespw;Database=auctions"
DOCKER_SEARCH_DATABASE="mongodb://root:mongopw@mongo-clusterip"
DOCKER_BID_DATABASE="mongodb://root:mongopw@mongo-clusterip"
DOCKER_IDENTITY_DATABASE="Server=postgres-clusterip:5432;User Id=postgres;Password=postgrespw;Database=identities"

# DatabaseNames
SEARCH_DATABASE_NAME="SearchDb"
BIDDING_DATABASE_NAME="BidDb"

# Urls
DOCKER_AUCTION_URL="http://auction-clusterip"
DOCKER_IDENTITY_URL="http://identity-clusterip"
DOCKER_GRPC_URL="http://auction-clusterip:7777"
DOCKER_BIDDING_URL="http://bid-clusterip"
DOCKER_NOTIFICATION_URL="http://notify-clusterip"

# MassTransit Prefix
BID_MASS_PREFIX="bids"
NOTIFICATION_MASS_PREFIX="nt"

# Service Address
AUCTION_URL="http://localhost:7001"
SEARCH_URL="http://localhost:7002"
BIDDING_URL="http://localhost:7003"
NOTIFICATION_URL="http://localhost:7004"
IDENTITY_URL="http://localhost:5000"

# Scope
OPEN_ID_SCOPE="openid"
PROFILE_SCOPE="profile"
APP_SCOPE="auctionApp"

# Postman
POSTMAN_CLIENT_ID="postman"
POSTMAN_CLIENT_NAME="postman"
DISPLAY_NAME="Auction app full access"
POSTMAN_REDIRECTURI="https://localhost:5001/signin-oidc"
POSTMAN_SECRET="NotASecret"

# NextJS
NEXT_APP_ID="nextApp"
NEXT_CLIENT_NAME="nextApp"
NEXT_SECRET="secretApp"
NEXT_REDIRECTURI="http://localhost:3000/api/auth/callback/id-server"

# Token
CLAIM_USER_NAME="username"

# Clusters
AUCTION_CLUSTER_ID="auctions"
AUCTION_CLUSTER_READ="auctionRead"
AUCTION_CLUSTER_WRITE="auctionWrite"
SEARCH_CLUSTER_ID="search"
SEARCH_CLUSTER_READ="search"
BIDS_CLUSTER_READ="bidsRead"
BIDS_CLUSTER_WRITE="bidsWrite"
BIDS_CLUSTER_ID="bids"
AUTHORIZATION_POLICY="Default"
NOTIFICATION_CLUSTER="notifications"
NOTIFICATION_CLUSTER_ID="notifications"
AUCTION_API="auctionApi"
SEARCH_API="searchApi"
BIDS_API="bidApi"
NOTIFICATION_API="notifyApi"

# RabbitMq
RABBITMQ_HOST="localhost"

# CORS
CUSTOM_POLICY="customPolicy"
CLIENT_APP="http://localhost:3000"

# Virtual Hosts
GATEWAY_VIRTUAL_HOST='api.car-auctions.local'
DOCKER_NEXT_REDIRECTURI_HOST="http://app.car-auctions.local/api/auth/callback/id-server"
IDENTITY_URL_HOST='http://id.car-auctions.local'
IDENTITY_VIRTUAL_HOST='id.car-auctions.local'
AUTH_DUENDE_IDENTITY_SERVER6_ISSUER_HOST='http://id.car-auctions.local'
NEXT_PUBLIC_BASE_URL_HOST='http://api.car-auctions.local/'
WEBAPP_VIRTUAL_HOST='app.car-auctions.local'
WEBAPP_VIRTUAL_PORT=3000

# Web App
AUTH_SECRET="3b7388a3a2a86053ffe187a29197285873bea048d132924b36f5c5c50aaf67bc"
NEXT_PUBLIC_AUTH_DUENDE_IDENTITY_SERVER6_ID="id-server"
AUTH_DUENDE_IDENTITY_SERVER6_CLIENT_ID="nextApp"
AUTH_DUENDE_IDENTITY_SERVER6_SECRET="secretApp"
AUTH_DUENDE_IDENTITY_SERVER6_ISSUER="http://localhost:5000"
AUTH_DUENDE_IDENTITY_SERVER6_ISSUER_INTERNAL="http://identity-clusterip"
AUTH_DUENDE_IDENTITY_SERVER6_SCOPE="openid profile auctionApp"
NEXT_INTERNAL_BASE_URL='http://gateway-clusterip/'
AUTH_URL_HOST='http://app.car-auctions.local'
AUTH_URL_INTERNAL='http://web-app-clusterip:3000'